/* @link https://utopia.fyi/type/calculator?c=320,16,1.333,1240,18,1.5,2,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--1: clamp(0.75rem, 0.7503rem + -0.0003vw, 0.7502rem);
  --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --step-1: clamp(1.333rem, 1.2097rem + 0.6165vw, 1.6875rem);
  --step-2: clamp(1.7769rem, 1.5145rem + 1.3119vw, 2.5313rem);
}

/**
 * RESET
 * Reference: http://meyerweb.com/eric/tools/css/reset/
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

html {
  box-sizing: border-box;
  background: #141515;
}

body {
  line-height: 1.6;
  font-family: 'rubik', sans-serif;
  font-size: var(--step-0);
  color: #f0f0f0;
  padding: 0px;
  margin: 0px;
  background: #141515;
  background-image: url(/Users/tannermardis/Documents/GitHub/tannermardis/images/noise.png);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: var(--step-2);
    margin: 20px 0px;
    text-align: center;
    display: block;
}

a {
   color: #f0f0f0;
   text-decoration: none;
}
a:hover {
    color: #19A467;
}

.logo {
  width: 200px;
  height: 200px;
}

.footer {
  font-size: var(--step--1);
  opacity: .25;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: -1.5em;
  transition: opacity 1s ease-in-out;
}
.footer a {
  color: currentColor;
}
.footer:hover, .footer:active, .footer:focus {
  opacity: .75;
}

