/**
 * RESET
 * Reference: http://meyerweb.com/eric/tools/css/reset/
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1.618;
  font-family: 'rubik', sans-serif;
    color: #f0f0f0;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px;
    background: #0d191a;
}
body {
  background-color: #1c1c1c;
  background-image: url(noise.png);
  color: #707070;

}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 2.5em;
    margin: 20px 0px;
    text-align: center;
    display: block;
}
h2 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.5em;
    margin: 20px 0px;
    text-align: center;
    display: block;
}
h3 {
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}
ul {
    margin: 70px auto;
    max-width: 960px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}
li {
    width: 20%;
    padding: 1em;
    min-width: 8em;
    position: relative;
    text-align: center;
}
a {
   color: #f0f0f0;
   text-decoration: none;
}
a:hover {
    color: #00A6FE;
}

