/* @link https://utopia.fyi/type/calculator?c=320,16,1.333,1240,18,1.5,2,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--1: clamp(0.75rem, 0.7503rem + -0.0003vw, 0.7502rem);
    --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --step-1: clamp(1.333rem, 1.2097rem + 0.6165vw, 1.6875rem);
    --step-2: clamp(1.7769rem, 1.5145rem + 1.3119vw, 2.5313rem);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
    margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    font-family: "rubik", sans-serif;
    font-size: var(--step-0);
    color: #f0f0f0;
    padding: 0px;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

html {
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: var(--step-2);
    margin: 20px 0px;
    text-align: center;
    display: block;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}
a:hover {
    color: #19a467;
}

.logo {
    width: 180px;
    height: 180px;
}

.footer {
    font-size: var(--step--1);
    opacity: 0.25;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: -1.5em;
    transition: opacity 1s ease-in-out;
}
.footer a {
    color: currentColor;
}
.footer:hover,
.footer:active,
.footer:focus {
    opacity: 0.75;
}
