{{ define "title" }}Tanner the Mardis{{ end }}

{{ define "head" }}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Tanner Mardis",
        "url": "https://tannermardis.com",
        "creator": {
            "@type": "Organization",
            "name": "Mardis Studio",
            "url": "https://mardis.studio",
            "description": "Designed and developed by Tanner the Mardis."
        }
    }
</script>
<link rel="preload" href="/images/tm-blank.webp" as="image" type="image/webp" fetchpriority="high"/>
<link rel="prefetch" href="/images/tm-book.webp" as="image" type="image/webp"/>
<link rel="prefetch" href="/images/tm-coffee.webp" as="image" type="image/webp"/>
<link rel="prefetch" href="/images/tm-design.webp" as="image" type="image/webp"/>
<link rel="prefetch" href="/images/tm-jedi.webp" as="image" type="image/webp"/>
<link rel="prefetch" href="/images/tm-photo.webp" as="image" type="image/webp"/>
<link rel="prefetch" href="/images/tm-twitter.webp" as="image" type="image/webp"/>
<link rel="prefetch" href="/images/tm-work.webp" as="image" type="image/webp"/>
<style type="text/css">
    .container {
        padding: var(--space-s);
        margin: 0px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: var(--space-s);
        height: 100dvh;
    }
    main {
        border: 1px solid var(--limegreen);
        border-radius: var(--space-2xs);
        background: url("/images/tm-blank.webp");
        background-size: cover;
        background-position: center center;
        transition: background 0.3s ease-in-out;
    }

    @media (max-width: 800px) {
        .container {
            display: grid;
            grid-template-columns: 1fr;
        }
        main {
            aspect-ratio: 1;
        }
    }
</style>
{{ end }}

{{ define "body" }}
<div class="container">
    {{ partial "nav.html" (dict "iconsOnly" false) }}
    <main role="img" aria-label="Tanner Mardis background preview"></main>
</div>
{{ end }}
